{% extends "base.html" %}
{% block title %} Libros en cine y TV {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="./static/style/cineytv.css" >
{% endblock %}
{% block content %}
<main>

        <div class="gallery">
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/iFOucwxKRFE?si=M3aiVgsAnUDo3ePC" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El señor de los anillos: la comunidad del anillo</h2> <br>
                Frodo Bolsón es un hobbit al que su tío Bilbo hace portador del poderoso Anillo Único, capaz de otorgar
                un poder ilimitado al que la posea, con la finalidad de destruirlo.
                Sin embargo, fuerzas malignas muy poderosas quieren arrebatárselo.<br>
                <b>Fecha de estreno:</b> 31 de enero de 2002 (Argentina)<br>
                <b>Director:</b> Peter Jackson<br>
                <b>Historia de:</b> J. R. R. Tolkien<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/KNYPRt6SfrE?si=fGtF1uQ7RD8Nk-s0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Maze runner: correr o morir</h2> <br>
                Thomas es un adolescente cuya memoria fue borrada y que ha sido encerrado junto a otros chicos de su
                edad en un laberinto plagado de monstruos y misterios.
                Para sobrevivir, tendrá que adaptarse a las normas y a los demás habitantes del laberinto.<br>
                <b>Fecha de estreno:</b> 16 de septiembre de 2014 (Argentina)<br>
                <b>Director:</b> Wes Ball<br>
                <b>Historia de:</b> James Dashner<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/kijUSE0VBEw?si=xniqIgKtr0Az7jwW" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El cuento de la criada</h2> <br>
                Una mujer obligada a la esclavitud sexual lucha por sobrevivir en Gilead,
                una sociedad totalitaria y postapocalíptica situada en lo que solía ser Estados Unidos.<br>
                <b>Cantidad de temporadas: </b> 5<br>
                <b>Cantidad de episodios:</b> 56<br>
                <b>Adaptaciones de:</b> El cuento de la criada
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/_8Ktfs2mBDY?si=UB-FEGy2a348I0Pb" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Los juegos del hambre</h2> <br>
                En lo que alguna vez fue Norteamérica, la capital de Panem mantiene sus 12 distritos obligándolos a
                seleccionar a un niño y a una niña, llamados Tributos, a competir en un evento televisado nacionalmente
                llamado los Juegos del Hambre. Cada ciudadano debe ver pelear a muerte a los jóvenes.
                El Tributo del Distrito 12, Katniss Everdeen, solo confía en sus habilidades de caza y buenos instintos
                en un escenario en donde debe sobrevivir contra la humanidad.<br>
                <b>Fecha de estreno:</b> 23 de marzo de 2012 (Argentina)<br>
                <b>Director:</b> Gary Ross<br>
                <b>Historia de:</b> Suzanne Collins<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/PkqHVGFAhbU?si=V5MdAhjvCro0Do_-" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Bladde runner</h2> <br>
                En un futuro sombrío y lluvioso, un expolicía vuelve al servicio para buscar y destruir a un grupo de
                androides que fingen ser humanos para, integrados en la sociedad, encontrar a su creador y matarlo.<br>
                <b>Fecha de estreno:</b> 15 de julio de 1982 (Argentina)<br>
                <b>Director:</b> Ridley Scott<br>
                <b>Historia de:</b> Philip K. Dick<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/Sv_RmFVNdpQ?si=BXRWHI7MUqGkFy-b" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El señor de las moscas</h2> <br>
                Debido a un naufragio, un grupo de jóvenes estudiantes de una escuela militar queda varado en una isla
                desierta. Sin la supervisión de los adultos,
                los veinticinco muchachos terminan divididos entre quienes quieren la civilización y quienes desean la
                anarquía.<br>
                <b>Fecha de estreno:</b> 16 de marzo de 1990 (Estados Unidos)<br>
                <b>Director:</b> Harry Hook<br>
                <b>Historia de:</b> William Golding<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/ualsizMQusI?si=3N_XkzsCIY1Z4J_y" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Nunca me abandones</h2> <br>
                Una mujer reflexiona sobre sus años en una escuela privada y se reúne con sus dos amigas
                para enfrentarse a los secretos oscuros que la atan a su pasado.<br>
                <b>Fecha de estreno:</b> 15 de septiembre de 2010 (Estados Unidos)<br>
                <b>Director:</b> Mark Romanek<br>
                <b>Historia de:</b> Kazuo Ishiguro<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/ZyolHOdXSTk?si=MaMmmWvW19YmB-Ax" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El velo pintado</h2> <br>
                Frodo Bolsón es un hobbit al que su tío Bilbo hace portador del poderoso Anillo Único, capaz de otorgar
                un poder ilimitado al que la posea, con la finalidad de destruirlo.
                Sin embargo, fuerzas malignas muy poderosas quieren arrebatárselo.<br>
                <b>Fecha de estreno:</b> 15 de septiembre de 2010 (Estados Unidos)<br>
                <b>Director:</b> Peter Jackson<br>
                <b>Historia de:</b> J. R. R. Tolkien<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/W8F7Yf4EwoY?si=rCCTPL2aEs0HRhTn" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Anna Karenina</h2> <br>
                Atrapada en un romance con otro hombre, la inexperta esposa de un científico acompaña a su esposo a
                China en los años veinte para luchar contra una epidemia de cólera.
                Ahí, ella se embarca en un viaje de autodescubrimiento que la conduce a una inesperada oportunidad de
                perdón.<br>
                <b>Fecha de estreno:</b> 4 de octubre de 2007 (Argentina)<br>
                <b>Director:</b> John Curran<br>
                <b>Historia de:</b> W. Somerset Maugham<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/kbyj4_URlM4?si=CJ1cjy4ab5Y4IO6_" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Atonement</h2> <br>
                Una falsa acusación cambia para siempre las vidas de una joven mujer,
                de su hermana mayor y del novio inocente de la hermana.<br>
                <b>Fecha de estreno:</b> 7 de febrero de 2008 (Argentina)<br>
                <b>Director:</b> Joe Wright<br>
                <b>Historia de:</b> Ian McEwan<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/tloYv8bUAHY?si=eLsE735dDkwQKvl6" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>La carretera</h2> <br>
                El planeta ha sido arrasado por un misterioso cataclismo y, en medio de la desolación, un padre y su
                hijo se dirigen hacia la costa en busca de un lugar seguro donde asentarse.
                Durante el viaje se cruzarán con otros supervivientes.<br>
                <b>Fecha de estreno:</b> 24 de junio de 2010 (Argentina)<br>
                <b>Director:</b> John Hillcoat<br>
                <b>Historia de:</b> Cormac McCarthy<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/438-eKgAIFE?si=U747aX_Rkt4bjOVW" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El truco final</h2> <br>
                Un encuentro durante una sesión fraudulenta provoca que dos magos del siglo XIX, Alfred Borden y Rupert
                Angier, se enfrenten en una intensa batalla por la supremacía.
                Las consecuencias son terribles cuando ambos intentan triunfar no sólo superando a su rival, sino
                destruyéndolo.<br>
                <b>Fecha de estreno:</b> 30 de noviembre de 2006 (Argentina)<br>
                <b>Director:</b> Christopher Nolan<br>
                <b>Historia de:</b> Christopher Priest<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/bKxWdMTv0FY?si=WHkuaclXez1bdEge" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Watchmen</h2> <br>
                Después de que su excolega es asesinado, un vigilante enmascarado descubre un plan
                para desacreditar y destruir a los superhéroes del mundo.<br>
                <b>Fecha de estreno:</b> 5 de marzo de 2009 (Argentina)<br>
                <b>Director:</b> Zack Snyder<br>
                <b>Historia de:</b> Alan Moore, Dave Gibbons<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/IwBdnWO2wXQ?si=7eqzR3UpfALctbdl" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El curioso caso de Benjamin Button</h2> <br>
                Benjamin Button nace como un hombre mayor en Nueva Orleans y rejuvenece.
                Poco a poco, se familiariza con la naturaleza del amor y la muerte.<br>
                <b>Fecha de estreno:</b> 5 de febrero de 2009 (Argentina)<br>
                <b>Director:</b> David Fincher<br>
                <b>Historia de:</b> F. Scott Fitzgerald, Eric Roth, Robin Swicord<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/f-lJt3vBgcI?si=TKRulOrXZ934-83h" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Una serie de catastróficas desdichas</h2> <br>
                Un conde malvado planea robarle la herencia a tres jóvenes huérfanos, quienes quedan bajo su
                cuidado.<br>
                <b>Fecha de estreno:</b> 17 de diciembre de 2004 (Estados Unidos)<br>
                <b>Director:</b> Brad Silberling<br>
                <b>Historia de:</b> Daniel Handler<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/E7Cj7lXABmE?si=4emHKhKZe-HHUSJi" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Stardust</h2> <br>
                Para poder ganarse el corazón de su amada, un joven llamado Tristan se aventura en un reino de hadas
                para recuperar una estrella fugaz.
                Una vez ahí, él y la estrella, una mujer llamada Yvaine, deben enfrentarse a un pirata y a un grupo de
                brujas malvadas.<br>
                <b>Fecha de estreno:</b> 11 de octubre de 2007 (Argentina)<br>
                <b>Director:</b> Matthew Vaughn<br>
                <b>Historia de:</b> Neil Gaiman<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/ttjJb9jSJtM?si=imPSCIwMeOOPASW1" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Orgullo y prejuicio</h2> <br>
                Elizabeth Bennet conoce al apuesto y adinerado Sr. Darcy, con quien, rápidamente, inicia una intensa y
                compleja relación.<br>
                <b>Fecha de estreno:</b> 2 de febrero de 2006 (Argentina)<br>
                <b>Director:</b> Joe Wright<br>
                <b>Historia de:</b> Jane Austen<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/TAjDERf7ISk?si=77PdD8EEbJ5uf9aP" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El pianista</h2> <br>
                Un judío polaco, pianista profesional, lucha por la supervivencia en Varsovia frente a la invasión nazi.
                Después de, gracias a unos amigos,
                haber evitado la deportación, el pianista debe vivir oculto y constantemente expuesto al peligro..<br>
                <b>Fecha de estreno:</b> 6 de marzo de 2003 (Argentina)<br>
                <b>Director:</b> Roman Polanski<br>
                <b>Historia de:</b> Władysław Szpilman<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/8a49_fbgTcE?si=CDugcdm1OcbXLtd8" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El código da vinci</h2> <br>
                Un asesinato en el Museo del Louvre y pistas en las pinturas de Leonardo da Vinci conducen
                al descubrimiento de un misterio religioso que podría estremecer las bases del cristianismo.<br>
                <b>Fecha de estreno:</b> 19 de mayo de 2006 (Estados Unidos)<br>
                <b>Director:</b> Ron Howard<br>
                <b>Historia de:</b> Dan Brown<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/hgFq7YdMX4g?si=DEAZqKiOcrwEv_rE" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>La lista de Schindler</h2> <br>
                El empresario alemán Oskar Schindler, miembro del Partido Nazi,
                pone en marcha un elaborado, costoso y arriesgado plan para salvar a más de mil judíos del
                Holocausto.<br>
                <b>Fecha de estreno:</b> 24 de febrero de 1994 (Argentina)<br>
                <b>Director:</b> Steven Spielberg<br>
                <b>Historia de:</b> Thomas Keneally<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/QoC8q9Oc2w8?si=EjBiSvZ8jfBNzqsl" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>El diario de Noa</h2> <br>
                BEn un hogar de retiro un hombre le lee a una mujer, que sufre de Alzheimer, la historia de dos jóvenes
                de distintas clases sociales
                que se enamoraron durante la convulsionada década del 40, y de cómo fueron separados por terceros, y por
                la guerra.<br>
                <b>Fecha de estreno:</b>28 de octubre de 2004 (Argentina)<br>
                <b>Director:</b> Nick Cassavetes<br>
                <b>Historia de:</b> Nicholas Sparks<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/h_B16qD89aM?si=D9vUmKLeOxiElzyu" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Una mente brillante</h2> <br>
                La historia del genial matemático John Forbes Nash Jr., quien, a pesar de sufrir esquizofrenia,
                logró desarrollar su carrera y obtener el Premio Nobel.<br>
                <b>Fecha de estreno:</b> 21 de febrero de 2002 (Argentina)<br>
                <b>Director:</b> Ron Howard<br>
                <b>Historia de:</b> Sylvia Nasar<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/BGem82vCZNM?si=1BNZgUsRW3KeE3gf" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Charlie y la fábrica de chocolate</h2> <br>
                Un niño pobre y cuatro jovencitos ricos ganan un paseo a la increíble empresa de un raro fabricante de
                dulces.<br>
                <b>Fecha de estreno:</b> 4 de agosto de 2005 (Argentina)<br>
                <b>Director:</b> Tim Burton<br>
                <b>Historia de:</b> Roald Dahl<br>
            </div>
            <div class="contenedor">
                <iframe src="https://www.youtube.com/embed/2WmsMmEkmfQ?si=8Fksw3c1PS_EaZFI" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
                <h2>Soy leyenda</h2> <br>
                Robert Neville, un brillante científico, es el único sobreviviente de una plaga creada por el hombre que
                transforma a los humanos en mutantes sedientos de sangre. Él vaga solitario por Nueva York, buscando a
                posibles sobrevivientes, y trabaja para hallar una cura para la plaga usando su propia sangre inmune.
                Neville sabe que las posibilidades son mínimas, y todos esperan que cometa un error para que él caiga en
                sus manos.<br>
                <b>Fecha de estreno:</b> 1 de enero de 2008 (Buenos Aires)<br>
                <b>Director:</b> Francis Lawrence<br>
                <b>Historia de:</b> Richard Matheson<br>
            </div>
        </div>

    </main>

{% endblock %}