
    <div class="footerBox d-flex flex-wrap align-items-center justify-content-around">
      <section class="fbox01 d-flex justify-content-center">
        <p style="margin: 0;">2024<span class="fspan">Grupo08</span></p>
      </section>
      <section class="fbox02 d-flex justify-content-center">
        <img src="./static/images/favicon01.png" alt="logo tinta y papel">
      </section>
      <section class="fbox03 d-flex flex-column align-items-center gap-2 ">
        <a href="https://buenosaires.gob.ar/educacion/codo-codo-40" target="_blank"><img class="logoCaC"
            src="./static/images/logoCaC.png"></a>
        <a href="https://github.com/platon-actual/tintaypapel" target="_blank"><img
            src="./static/images/logoGit.png"></a>
      </section>
    </div>
    <div class="footerDisc">
      <p>| Sumérgete en un mundo de historias. ©2024 Tu Librería Favorita. Todos los derechos reservados. |</p>
    </div>


  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  
