{% extends "base.html" %}
{% block title %} Foro {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="./static/style/foro.css" >
    

{% endblock %}
{% block content %}
<main>
<section>
    <div class="row justify-content-left my-5 mx-2">
      <h3>Deje un mensaje en nuestro foro!</h3>
      <div class="col-lg-6">
        <form action="./foro" method="POST" id="form_mensaje">
          <div>
            <label for="nombre" class="form-label">Ingrese su nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ej.: Juana" class="form-control">
          </div>
          <div>
            <label for="mensaje" class="form-label">Ingrese su mensaje:</label>
            <br>
            <textarea name="mensaje" id="mensaje" class="form-control"></textarea>
          </div>
            <div>
                <label for="acepta_tyc" class="form-label">Acepto Términos y condiciones</label>
                <input type="checkbox" id="acepta_tyc" name="acepta_tyc">
            </div>
            <button type="submit" class="btn btn-secondary">Enviar mensaje</button>
        </form>
      </div>
    </div>
</section>
<section>
  <table class="table table-bordered mx-3 my-2">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Mensaje</th>
    </thead>

    <tbody>
        {% for datos in mensajes %}
            <tr>
                <td>{{ datos.id }}</td>
                <td>{{ datos.autor }}</td>
                <td>{{ datos.mensaje }}</td>
                
               
            </tr>

        {% endfor %}
    </tbody>
</table>

</section>
</main>

<script src="./static/script/foro.js"></script>

{% endblock %}