{% include "header.html" %}
<main>
<section>
    <h3>Use el siguiente formulario para ponerse en contacto con nosotros:</h3>
    <form action="enviado.html" method="GET" id="form_contacto">
      <div>
        <label for="nombre">Ingrese su nombre</label>
        <input type="text" id="nombre" name="nombre" onchange="validarNombre();">
      </div>
      <div>
        <label for="correo">Ingrese su e-mail (obligatorio):</label>
        <input type="text" id="correo" name="correo" onchange="validarCorreo();">
      </div>
      <div>
        <label for="consulta">Ingrese su consulta o sugerencia(opcional):</label>
        <br>
        <textarea name="consulta" id="consulta"></textarea>
      </div>
      <div>
        <label for="noticias">Suscribirme a las noticias:</label>
            <select name="noticias" id="noticias">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </div>
        <div>
            <label for="acepta_tyc">Acepto Términos y condiciones</label>
            <input type="checkbox" id="acepta_tyc" name="acepta_tyc">
        </div>
        <button type="submit">Enviar consulta</button>
    </form>
</section>
</main>

{% include "footer.html" %}