{% include "header.html" %}

    <main>
        <!-- Columna del texto de la misión -->
        <section class="misionContainer">
            <div class="misionIndex">
                <img src="./assets/images/logo01-nobg.png" alt="logo Tinta y Papel">
                <section class="imgContainer d-flex justify-content-center align-items-center">
                    <h2 class="imgText"><span id="spanImgText">Bienvenidos</span> a una Aventura en Tinta Y Papel
                    </h2>
                </section>
                <div class="mission-section">
                    <p>En Una Aventura En Tinta Y Papel, nuestra misión es fomentar el amor por la lectura y ofrecer una
                        experiencia literaria integral que conecte a los lectores con sus historias favoritas. Nos
                        dedicamos a:</p>
                    <ul class="d-flex align-items-center justify-content-center gap-2 flex-wrap">
                        <li>Facilitar el acceso a una vasta colección de libros digitales de todos los géneros y
                            estilos, utilizando tecnología avanzada para simplificar la búsqueda y adquisición de
                            libros.</li>
                        <li>Ofrecer recomendaciones personalizadas y contenido curado por expertos en literatura
                            para
                            guiar a nuestros usuarios hacia sus próximas lecturas favoritas.</li>
                        <li>Crear una comunidad vibrante donde los lectores puedan compartir sus opiniones, reseñas
                            y
                            discutir sobre libros, cine y televisión.</li>
                        <li>Destacar y promover adaptaciones de libros a cine y televisión, proporcionando una
                            plataforma para explorar las historias detrás de las pantallas.</li>
                        <li>Apoyar a autores y editoriales mediante la promoción de sus obras y la creación de un
                            espacio donde puedan llegar a una audiencia global.</li>
                    </ul>
                    <p>Queremos ser el destino preferido para todos aquellos que buscan sumergirse en el mundo de los
                        libros, ya sea a través de la lectura tradicional o explorando nuevas adaptaciones
                        audiovisuales. Nuestra pasión por la literatura y la tecnología nos impulsa a mejorar
                        continuamente nuestra plataforma y servicio, asegurando que cada visita a Una Aventura En Tinta
                        Y Papel sea una experiencia memorable y gratificante.</p>
                </div>
            </div>
        </section>
        <section class="infoContainer d-flex align-items-center justify-content-center flex-wrap gap-4">
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <h2 class="indexTitle">Top Ventas</h2>
                <p class="indexText">Conoce los libros más vendidos de la semana. Desde bestsellers hasta joyas ocultas,
                    encuentra lo que
                    otros lectores están disfrutando.</p>
            </section>
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <h2 class="indexTitle">Recomendaciones del Equipo</h2>
                <p class="indexText">Explora nuestras recomendaciones de libros, seleccionados por nuestro equipo de
                    expertos en
                    literatura. Encuentra tu próxima lectura favorita entre nuestras cuidadosas selecciones.</p>
            </section>
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <h2 class="indexTitle">Novedades y Destacados</h2>
                <p class="indexText">Mantente al día con las últimas noticias del mundo literario y descubre las
                    novedades más esperadas
                    del año. Desde los lanzamientos más recientes hasta los títulos más esperados, siempre estarás
                    informado.</p>
            </section>
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <h2 class="indexTitle">Nuestras Colecciones</h2>
                <p class="indexText">Navega por nuestras colecciones temáticas, desde ciencia ficción y fantasía hasta
                    romance y misterio.
                    Cada colección está diseñada para ofrecerte una experiencia de lectura inmersiva.</p>
            </section>
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <h2 class="indexTitle">Adaptaciones Recientes</h2>
                <p class="indexText">Mantente informado sobre las últimas adaptaciones de libros a cine y televisión.
                    Encuentra
                    información
                    detallada sobre las producciones y los autores detrás de estas historias.</p>
            </section>
            <section class="secciónIndex d-flex flex-column justify-content-between align-items-center">
                <a class="indexTitle" href="./nosotros.html" style="text-decoration: none; color: black;">¿Quiénes
                    somos?</a>
                <p class="indexText">Somos más que una tienda y biblioteca de libros
                    digitales, apasionados por la literatura y la tecnología, dedicados a crear una experiencia única
                    para cada
                    lector.</p>
            </section>
        </section>


        <!-- <section>
            <p>
                Bienvenidos a <b>Una Aventura En Tinta Y Papel</b>,
                una página donde pueden encontrar libros
                recomendados, adaptaciones a cine y televisión, y buscar libros con la API de Google books.
            </p>
            <p>
                Este es un proyecto en conjunto, hecho por un equipo de diseño y desarrollo web.
                Para conocernos, por favor, ir a la sección <b><a href="./nosotros.html">Quienes somos</a></b>.
            </p>
        </section> -->
    </main>

<script src="./assets/script/index.js"></script>

{% include "footer.html" %}