{% include "header.html" %}
  <main>
    <section>
      <!-- <img src="imagenes/b-banner1.jpg"\>  -->
      <!-- <br>  -->
      <h1><strong>Acerca de nosotros</strong></h1>
      <p> Somos un grupo de estudiantes de Desarrollo web, cuyo proyecto final consta en la realización de
        una página web completa, de temática libre.</p>
      <p>La misma debe ser funcional tanto en su diseño, como en la conexión con su base de datos. Para lo cual debemos
        realizar el frontend y el backend correspondientes.</p>
      <h2><u>Integrantes</u></h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/leticia-mores" target="_blank"> Leticia Mores </a></li>
        <li><a href="https://www.linkedin.com/in/ramiroivanrios/" target="_blank"> Ramiro Ríos</a></li>
        <li><a href="https://www.linkedin.com/in/esther-ifrán-6707a726b" target="_blank"> Esther Ifrán</a></li>
        <li> <a href="https://www.linkedin.com/in/facundorojas/" target="_blank"> Facundo Rojas</a></li>
      </ul>
    </section>
    
  </main>
  {% include "footer.html" %}