/* Estilo Normalizado */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-image: url('../images/fondo_principal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100vh; */
    background-attachment: fixed;

}

/* nav, .titulo {
    position:fixed;
} */

nav {
    background-color: burlywood;
    font-size: 1.2rem;
    justify-content: right;
    width: 100%;
    text-align: center;
}

.titulo {
    font-family: "Metamorphous", serif;
    font-size: 1.5rem;
    display: flex;
    background-color: #EB9C63;
    text-align: center;
    font-weight: bolder;
    background-image: url('../images/banner1.jpg');
}
.base-blanca {
    background-color: rgba( 150, 150, 150, 50%);
    width: 100%;
}

.titulo h1 {
    /* border-radius: 8px; */
    padding: 8px;
    /* background-color: rgba( 150, 150, 150, 50%); */
}

.titulo img {
    height: 16%;
    width: 16%;
    /* display: inline-block; */
    display: none;
}