/* Estilo Normalizado */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --marron: #8F4A1F;
  --marronclaro: #B15C27;
  --grisclaro: #e9e9e9;
  --grisoscuro: #333333;
  --negro: #000000;
  --blanco: #ffffff;
}

/* HEADER */
header {
  min-height: 15vh;
}

#header-nav {
  /* background-color: var(--blanco) !important; */
  background-color: var(--grisclaro) !important;
  /* background-color: var(--negro) !important; */
  min-height: 14vh;
}

.navbar {
  /* background-color: var(--blanco) !important; */
  background-color: var(--grisclaro) !important;
  /* background-color: var(--negro) !important; */
  height: 15vh;
  width: 100%;
  position: fixed !important;
  z-index: 2 !important;
}

#navbarNav {
  justify-content: end;
  align-items: center;
  font-size: larger;
}

.container-fluid {
  background-color: var(--blanco) !important;
  /* background-color: var(--grisclaro) !important; */
  /* background-color: var(--negro) !important; */
}

.navbar-nav {
  background-color: var(--blanco) !important;
  /* background-color: var(--grisclaro) !important; */
  /* background-color: var(--negro) !important; */
  font-size: 120%;
  gap: 1rem;
  align-items: center !important;
  padding: 1rem;
  margin-bottom: .5rem;
}

.nav-item {
  padding-right: .5rem;
}

.nav-link {
  font-weight: bold !important;
  color: var(--negro) !important;
  /* color: var(--blanco) !important; */
}

.nav-link:hover {
  color: var(--marronclaro) !important;
  /* color: var(--marron) !important; */
}

#navContainer {
  background-color: var(--blanco) !important;
  /* background-color: var(--grisclaro) !important; */
  /* background-color: var(--negro) !important; */
}

.active {
  color: var(--marronclaro) !important;
  /* color: var(--marron) !important; */
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.icono {
  width: 8rem;
  margin-left: 1rem;
}

/* ---------- MAIN ---------- */
main {
  background-color: var(--grisclaro);
  min-height: 70vw;
}

p {
  font-size: 16px;
}

h2 {
  color: blue;
}

section {
  border-radius: 15px;
  background-color: antiquewhite;
  padding: 32px;
  padding-top: 24px;
  margin: 24px;
}

img {
  width: 100%;
}

/* ---------- FOOTER ---------- */
footer {
  /* position: relative; */
  width: 100%;
  background-color: var(--negro);
  /* min-height: 50px; */
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 90px; */
}

.footerBox {
  width: 100%;
  margin: 0;
}

.fbox01,
.fbox02,
.fbox03 {
  margin: 0;
  padding: 0;
  background-color: var(--negro);
}

.fbox01 {
  color: var(--marronclaro);
}

.fspan {
  color: var(--blanco);
  font-weight: bold;
  text-transform: uppercase;
}

.fbox02 img {
  border-radius: 15px;
  width: 5rem;
}

.fbox03 img {
  width: 3rem;
}

.logoCaC {
  width: 4rem !important;
}

.footerDisc p {
  margin: 10px 5rem 0 5rem;
  font-size: 0.9rem;
  color: var(--blanco);
  font-weight: 400;
}

/* Animación para el icono */
.icono {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Footer media */
@media screen and (max-width: 960px) {
  .bannerIndex {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .footer_ty p {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .footerBox {
    flex-direction: column;
    gap: 10px;
  }

  .fbox03 {
    gap: 10px;
  }
}